:root {
  --space-cadet: #1C2C4Cff;
  --charcoal: #3C4252ff;
  --celestial-blue: #039BE5ff;
  --white: #FFFFFFff;
  --white-2: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid red; */
}

.jumbotron {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 76px;
  background-color: var(--space-cadet);
  color: var(--white);
}

h1 {
  margin-bottom: 16px;
}

.tagline {
  width: 400px;
  text-align: center;
}

.other-section {
  width: 100%;
  min-height: 720px;
  padding: 0 48px;
  background-color: var(--white-2);
  position: relative;
}

.cards-container {
  height: 400px;
  position: absolute;
  top: -200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  gap: 48px;
}

.card {
  width: 278px;
  box-shadow: -1px 3px 6px rgba(60, 66, 82, 0.457);
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.card-header {
  width: 100%;
  background-color: var(--charcoal);
  color: var(--white);
  padding: 12px ;
}

.card-body {
  padding: 36px 12px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card-price {
  display: flex;
  gap: 8px;
  margin: 0 auto;
  align-items: end;
}

.card-price .dollar {
  align-self: flex-start;
  color: var(--charcoal);
}

.card-price .price {
  font-size: 4rem;
  line-height: 3rem;
}

.card-price .per {
  color: var(--charcoal);
}

.border {
  border-bottom: 1px solid var(--charcoal);
  width: 75%;
  margin: auto;
}

.fw-bold {
  font-weight: bold;
}

.btn-buy {
  background-color: var(--celestial-blue);
  margin: 0 auto;
  width: fit-content;
  padding: 12px 32px;
  color: white;
  border: none;
}

.faq {
  width: 75%;
  margin: 0 auto;
  padding: 48px 0;
  padding-top: 248px;
  display: flex;
  flex-direction: column;
  color: var(--charcoal);

}

.faq h2 {
  text-align: center;
  margin: 32px 0 96px 0;
}

.questions {
  width: 100%;
  display: flex;
  gap: 40px;
}

.question-card {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.question-card .question {
  font-size: larger;
  font-weight: 500;
}

.question-card .answer {
  font-weight: 300;
}

li {
  list-style: none;
}